## Algo Trading Notebook

In [16]:
#Test pseudocode

In [17]:
%matplotlib inline
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import matplotlib.pyplot as plt
import hvplot.pandas
import numpy as np
import seaborn as sns
from pathlib import Path

In [18]:
# Define function to create Pickle File
def get_api_dataframe():
    # Set Alpaca API key and secret

    load_dotenv()
    api_key= os.getenv("ALPACA_API_KEY")
    sec_key= os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object

    alpaca = tradeapi.REST(
        api_key,
        sec_key,
        api_version="v2"
    )
# Get 3 years worth of historical data for Alcohol stocks, Cannabis Stocks, and S&P 500

    start_date = pd.Timestamp('2019-04-20', tz='America/New_York').isoformat()
    end_date = pd.Timestamp('2022-04-20', tz='America/New_York').isoformat()

    tickers = ["BUD", "DEO", "SAM", "TAP", "STZ","VFF","JAZZ","CRON", "TLRY","CGC", "SPY"]

# Set timeframe to "1Day" for Alpaca API
    timeframe = "1Day"

# Get current closing prices for All Stocks

    df_stock_data = alpaca.get_bars(
        tickers,
        timeframe,
        start = start_date,
        end = end_date
    ).df

#Set index to date
    df_stock_data.index = df_stock_data.index.date
    return df_stock_data

In [19]:
# Check if file exists
# If file does not exist then load api and save file
# else read data from pikl

api_data_file = Path("api_data.pkl")
if api_data_file.is_file():
    print ("API data file exists")
    df_stock_data = pd.read_pickle(api_data_file)
else:
    print ("API file does not exist") 
    df_stock_data = get_api_dataframe()
    df_stock_data.to_pickle(api_data_file)

#View dataframe
df_stock_data.head(-5)

API data file exists

,open,high,low,close,volume,trade_count,vwap,symbol
2019-04-22,89.69,90.4700,89.5800,89.60,970834,9479,90.000447,BUD
2019-04-23,88.56,89.7900,88.5000,89.25,755451,7907,89.242818,BUD
2019-04-24,89.02,89.1300,87.8200,88.21,1038366,11509,88.324096,BUD
2019-04-25,86.89,87.0200,86.0000,86.64,1341678,13124,86.467163,BUD
2019-04-26,87.38,87.6250,86.8300,87.58,920430,9005,87.292918,BUD
...,...,...,...,...,...,...,...,...
2022-04-06,5.16,5.2350,5.0301,5.14,480630,4559,5.137048,VFF
2022-04-07,5.13,5.1711,4.9600,5.04,356830,3783,5.061856,VFF
2022-04-08,5.01,5.0700,4.8200,4.83,1129375,6429,4.917287,VFF
2022-04-11,4.70,4.9200,4.6400,4.81,721407,5570,4.787688,VFF
2022-04-12,4.86,5.0200,4.7100,4.75,459414,4954,4.847809,VFF

In [20]:
#df_stock_data.loc[:["close"]]

In [21]:
all_close_prices = df_stock_data.pivot(values=["close","volume"], columns= "symbol")
all_close_prices

            close                                                        \
symbol        BUD    CGC   CRON     DEO    JAZZ     SAM     SPY     STZ
2019-04-22  89.60  48.25  16.86  162.58  125.97  271.34  290.27  205.46
2019-04-23  89.25  47.41  16.28  163.80  129.78  277.73  292.88  207.48
2019-04-24  88.21  48.37  16.59  164.13  129.42  276.43  292.23  210.14
2019-04-25  86.64  48.20  16.52  164.17  128.53  300.00  292.05  212.16
2019-04-26  87.58  49.91  17.16  166.48  130.99  304.56  293.41  212.16
...           ...    ...    ...     ...     ...     ...     ...     ...
2022-04-13  58.58   7.11   3.49  207.18  162.30  375.13  443.31  248.63
2022-04-14  58.78   6.82   3.44  209.22  167.25  365.76  437.79  251.42
2022-04-18  58.72   5.99   3.26  207.20  164.07  357.68  437.97  252.82
2022-04-19  59.19   5.93   3.33  203.66  166.54  364.87  445.04  253.87
2022-04-20  61.49   5.73   3.21  205.20  168.00  361.22  444.71  258.78

                          ...      volume                                 \
symbol        TAP   TLRY  ...         CGC       CRON       DEO      JAZZ
2019-04-22  61.16  51.82  ...  11914208.0  7373595.0  196717.0  544292.0
2019-04-23  61.28  50.26  ...   8244109.0  6469152.0  442307.0  951061.0
2019-04-24  62.51  51.30  ...   6386176.0  5872921.0  433237.0  521892.0
2019-04-25  62.80  51.27  ...   4185409.0  3729953.0  195180.0  451045.0
2019-04-26  63.83  53.15  ...  12612629.0  5950888.0  246827.0  379761.0
...           ...    ...  ...         ...        ...       ...       ...
2022-04-13  54.29   6.42  ...   4635230.0  1038695.0  351184.0  320456.0
2022-04-14  55.61   6.02  ...   5118641.0  1335324.0  454599.0  678367.0
2022-04-18  55.63   5.74  ...  10615494.0  1545760.0  172098.0  496498.0
2022-04-19  55.87   5.83  ...   6844139.0  1434990.0  440057.0  726485.0
2022-04-20  56.78   5.41  ...   6243909.0  1228174.0  548212.0  426033.0


symbol           SAM         SPY        STZ        TAP        TLRY        VFF
2019-04-22  175072.0  40520264.0  2196943.0  1892105.0   1611217.0  1350093.0
2019-04-23  238962.0  52411775.0  2256729.0  1583837.0   1277543.0  1333892.0
2019-04-24  260388.0  50469550.0  1813512.0  1661039.0    915791.0  2360366.0
2019-04-25  430523.0  57875137.0  1900991.0  1359337.0   1317892.0  1177232.0
2019-04-26  163533.0  51449173.0  1329576.0  1339686.0   1540529.0  1097918.0
...              ...         ...        ...        ...         ...        ...
2022-04-13   77542.0  73734315.0   775919.0  1255859.0  18716058.0   286697.0
2022-04-14  172018.0  98667135.0   778927.0  2332000.0  23531340.0   385134.0
2022-04-18  183966.0  65814949.0   764562.0  1496739.0  23653319.0   588755.0
2022-04-19  156996.0  77678099.0   784920.0   992247.0  19029138.0   533863.0
2022-04-20  153346.0  64737457.0  1041073.0  1195239.0  29364462.0   326564.0

[757 rows x 22 columns]